@font-face {
  font-family: "Maurea";
  src: url("fonts/Maurea-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maurea";
  src: url("fonts/Maurea-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Maurea", Fallback, sans-serif;
  text-align: left;
  margin: 0 20px;
}

p,
ul,
li {
  color: #777;
  text-align: justify;
  line-height: 1.5;
}

li {
  text-align: left;
}
@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 900px;
    margin: auto;
  }

  .wrapper .header {
    padding: 20px 0;
  }

  .wrapper .hero .hero-image {
    max-height: 400px;
    margin: 0;
  }

  .wrapper .hero .hero-image img {
    margin-top: -40px;
  }

  .wrapper .hero .hero-image h1 {
    padding: 10px 30px;
    top: 40%;
    bottom: auto;
    right: auto;
    font-size: 30px;
  }

  .wrapper .hero h3 {
    text-align: center;
    margin-bottom: 40px;
  }

  .wrapper .hero .landing-page-form.interrupter {
    margin: 0;
    padding: 40px 80px;
  }

  .wrapper .hero .landing-page-form.interrupter .input-container {
    max-width: 300px;
  }

  button.gradient-button {
    width: 300px;
  }

  .landing-page-content.flex {
    display: flex;
  }

  .wrapper .landing-page-content h3 {
    color: #000;
    margin-top: 40px;
  }

  .product-wrapper.half {
    flex: 50%;
    padding: 0 10px;
  }

  .product-wrapper.full {
    flex: 100%;
  }

  .landing-page-content .product-wrapper .product-image {
    margin-left: 0;
    margin-right: 0;
  }

  .landing-page-content .product-wrapper .product-image img.product {
    max-height: 190px;
  }

  .landing-page-content .product-image.larger {
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper .interrupter.call-us {
    margin: 40px 0;
  }

  .wrapper .interrupter.call-us .call-us-copy {
    margin-bottom: 20px;
  }

  .footer {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 !important;
  }
}

.header {
  text-align: center;
  padding: 10px 0;
}

.header .landing-page-logo {
  max-width: 250px;
}

.hero {
  text-align: center;
  font-weight: 100;
}

.hero h1 {
  margin: 0;
}

.hero .hero-image {
  margin: 0 -20px;
  position: relative;
  max-height: 240px;
  overflow: hidden;
}

.hero .hero-image img {
  width: 100%;
  height: 100%;
}

.hero .hero-image h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 28px;
  background: rgba(0, 83, 158, 0.5);
  padding: 10px 0;
}

.interrupter {
  background: #f4f6f3;
  margin: 0 -20px;
  padding: 20px;
}

.input-container {
  width: 100%;
  margin: auto;
}

.input-container .input {
  margin-bottom: 10px;
}

.input-container .input.half {
  width: 50%;
}

.input-container .input.half.first {
  float: left;
  padding-right: 5px;
}

.input-container .input.half.second {
  float: right;
  padding-left: 5px;
}

.input-container .input .label {
  display: block;
  text-align: left;
  font-size: 0.8em;
  color: #777;
}

.input input::placeholder {
  color: #ddd;
}

.gradient-button {
  font-size: 1.1em;
  border-width: 0;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  min-height: 40px;
  color: #fff;
  background: #f37720;
  background: linear-gradient(to right, #fdbc38 0%, #f37720 100%);
  box-shadow: 0 3px 0 0 #f37720, 0 4px 4px -1px rgba(0, 0, 0, 0.6),
    0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
}

.input-container .input input {
  width: 100%;
  min-height: 40px;
  border: none;
  padding: 0 10px;
}

.cta-support {
  margin-top: 15px;
  font-size: 0.75em;
  color: #777;
}

.landing-page-content p {
  margin-bottom: 30px;
}

.landing-page-content h3 {
  text-align: center;
}

.landing-page-content .product-image {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

.landing-page-content h4,
.landing-page-content h5 {
  margin: 0;
}

.landing-page-content h5 {
  font-weight: 100;
  color: #777;
}

.landing-page-content .product-image img {
  max-width: 100%;
}

.captcha-box {
  margin-bottom: 10px;
}

.call-us {
  text-align: center;
  padding-top: 30px;
}

.call-us h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.call-us .phone-number {
  font-size: 40px;
  color: #00539e;
  font-weight: normal;
}

#recaptcha div {
  width: 100% !important;
}

.footer {
  background: #00539e;
  text-align: left;
  padding: 40px 20px;
  margin: 0 -20px;
  margin-top: 40px;
  color: #fff;
  font-size: 80%;
}

.footer-logo {
  max-width: 150px;
  display: block;
  margin-bottom: 30px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
