/* Design By: Mohamed Ali === Al Salem Johnson Controls */

:root {
  --first-color: #00539e;
  --second-color: #151515;
  --third-color: #ffffff;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--third-color);
  outline: none;
}
*,
a,
div,
h1,
h2,
h3,
h4,
h5,
html,
img,
li,
p,
span {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
.container {
  width: 100% !important;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1440px !important;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--second-color);
}
.navbar {
  background: var(--third-color);
  width: 100%;
  z-index: 99999;
  top: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}
.navbar a {
  color: var(--second-color);
  font-size: 18px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .img {
  width: 220px;
  height: auto;
}
.nav .img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .nav .img {
    width: 180px;
  }
}
.hero .details {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;
  justify-content: center;
  align-items: center;
}
.hero .details .image {
  background: url("img/asys-employee.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.hero .details .image.res {
  background: url("img/comme.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.hero .details .image.eng {
  background: url("img/engineering.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.hero .details .image::after,
.hero .details .image.res::after,
.hero .details .image.eng::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.09);
  z-index: -1;
}
@media screen and (max-width: 1199px) {
  .hero .details {
    grid-template-columns: 1fr;
  }
  .hero .details .image,
  .hero .details .image.res,
  .hero .details .image.eng {
    height: 250px;
  }
}
.hero .details .content {
  position: absolute;
  left: 36%;
  top: 40%;
  transform: translate(-50%, -36%);
  color: #fff;
}
.hero .details .content.ar {
  right: 0%;
  transform: translate(-10%, -36%);
  text-align: right;
}
.hero .details .content h1 {
  font-size: 36px;
  color: var(--third-color);
  font-weight: 600;
  line-height: 1.4;
}
.hero .details .content p {
  font-size: 18px;
  color: var(--third-color);
  font-weight: 500;
  line-height: 1.4;
  padding-top: 10px;
}
@media screen and (max-width: 1199px) {
  .hero .details .content {
    left: 15%;
    top: 45%;
    transform: translate(-10%, -5%);
  }
  .hero .details .content h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 380px) {
  .hero .details .content h1 {
    font-size: 22px;
  }
}

/* Formbox */

.formbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background: #f4f6f3;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.formbox form {
  width: 65%;
  margin: 0 auto;
}
.series.con-us .formbox form {
  position: relative;
  width: 100%;
}
.formbox form .input-box {
  position: relative;
  margin-bottom: 20px;
}
.formbox form .input-box:last-child {
  margin-bottom: 0;
}
.formbox .combine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.formbox .combine .input-box:first-child {
  margin-bottom: 0;
  margin-right: 10px;
}
.ar .combine .input-box:first-child {
  margin-left: 20px;
  margin-right: 0;
}
.formbox form .input-box input,
.formbox form .input-box textarea {
  position: relative;
  background: transparent;
  outline: none;
  border: 1px solid var(--second-color);
  width: 100%;
  color: var(--second-color);
  padding-bottom: 0;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 28px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.2s;
  opacity: 0.95;
}
.formbox.ar form .input-box input,
.formbox.ar form .input-box textarea {
  padding-right: 20px;
}
.formbox form .input-box textarea {
  resize: none;
  -webkit-appearance: none;
  letter-spacing: 0;
  height: 126px;
  padding: 27px 20px 0;
}
.formbox form .input-box input[type="submit"] {
  color: var(--third-color);
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 15px 20px;
  transition: all 0.2s;
  background: #f37720;
  background: linear-gradient(to right, #fdbc38 0%, #f37720 100%);
  box-shadow: 0 3px 0 0 #f37720, 0 4px 4px -1px rgba(0, 0, 0, 0.6),
    0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  transition: all 0.3s ease-in-out;
}
.formbox form .input-box input[type="submit"]:hover {
  opacity: 0.9;
}
.series.con-us
  .form-details
  .formbox
  form
  .input-box
  input[type="submit"]:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
}
.formbox form .input-box span {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 16px;
  display: inline-block;
  pointer-events: none;
  color: var(--second-color);
  transition: all 0.2s;
  opacity: 0.95;
}
.formbox.ar form .input-box span {
  right: 20px;
}
.formbox form .input-box span.tes {
  top: 30px;
}
.formbox form .input-box input:focus ~ span,
.formbox form .input-box input:valid ~ span,
.formbox form .input-box textarea:focus ~ span,
.formbox form .input-box textarea:valid ~ span {
  transform: translateY(-22px);
  font-size: 12px;
  color: var(--second-color);
}
.formbox form .input-box .input-file {
  text-align: right;
}
.formbox form .input-box .input-file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.formbox form .input-box .input-file label p {
  font-weight: 400;
}
.formbox form .addtion {
  font-weight: 400;
  font-size: 14px;
  color: var(--second-color);
  letter-spacing: 0;
  line-height: 1.64285714em;
  margin-bottom: 20px;
}
.formbox form .policy {
  padding-top: 30px;
}
.formbox form .pos {
  padding-top: 0px;
}
.formbox form .policy .checkbox {
  position: relative;
}

.formbox form .policy .checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.formbox form .policy .checkbox label {
  display: block;
  position: relative;
  font-size: 14px;
  padding: 0 0 0 35px;
  line-height: 23px;
  z-index: 9;
  -webkit-transition: border 0.25s ease-in-out 0ms;
  transition: border 0.25s ease-in-out 0ms;
  color: #7f7f7f;
}
.contact.ar .formbox form .policy .checkbox label {
  padding: 0 35px 0 0;
}
.formbox form .policy .checkbox label a {
  color: #7f7f7f;
  text-decoration: underline;
}
.formbox form .policy .checkbox .check {
  display: block;
  position: absolute;
  border: 1px solid #b9b9b9;
  height: 23px;
  width: 23px;
  top: 0;
  left: 0;
  -webkit-transition: border 0.25s ease-in-out 0ms;
  transition: border 0.25s ease-in-out 0ms;
  border-radius: 0;
  background: transparent;
  z-index: 1;
}
.contact.ar .formbox form .policy .checkbox .check {
  right: 0;
}
.formbox form .policy .checkbox .check::after {
  content: "";
  width: 11px;
  height: 7px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid var(--third-color);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: opacity 0.2s ease-in-out 0ms;
  transition: opacity 0.2s ease-in-out 0ms;
}
.formbox form .policy .checkbox input[type="checkbox"]:checked ~ .check {
  background-color: var(--first-color);
  border: none;
}
.formbox form .policy .checkbox input[type="checkbox"]:checked ~ .check:after {
  opacity: 1;
}
.con-form .form-groups {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.con-form .form-groups label {
  color: #b9b9b9;
  font-size: 14px;
  margin-bottom: 10px;
}
.con-form .form-groups .form-control {
  padding: 20px 10px;
  border: 0;
  color: #b9b9b9;
  width: 100%;
  border: 1px solid #b9b9b9;
}
.contact.con-serv .content {
  grid-template-columns: 1fr;
}
.contact.con-serv .content .units {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}
.contact.con-serv .formbox form .input-box {
  margin-bottom: 20px;
}
.formbox .cta-support {
  text-align: center;
}
.ar {
  direction: rtl;
  font-family: "Tahoma";
  text-align: right;
}
@media screen and (max-width: 1199px) {
  .formbox {
    width: 100%;
    padding: 40px 20px;
    height: auto;
  }
  .contact.con-serv .formbox {
    margin-top: 0;
    width: 100%;
  }
  .formbox form {
    width: 100%;
  }
}
/* End Formbox */
.footer {
  padding: 30px 0;
  background: var(--first-color);
}
.footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer .content .con {
  text-align: left;
}
.footer .content p {
  text-decoration: none;
  color: var(--third-color);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out 0ms;
  transition: color 0.3s ease-in-out 0ms;
}
.footer .social,
.footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .social h4 {
  color: var(--third-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 2;
  width: 100%;
}
.footer .icons {
  margin-left: 5px;
}
.footer .icons a {
  margin-left: 15px;
}
.footer.ar .icons {
  margin-right: 5px;
}
.footer.ar .icons a {
  margin-left: 15px;
}
.footer .icons img {
  width: 20px;
  height: 100%;
}
.footer.moby {
  display: none;
}
@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
  .footer.moby {
    display: block;
  }
  .footer .content {
    flex-direction: column;
  }
  .footer .con {
    margin-top: 8px;
  }
  .footer .con p {
    font-size: 11px;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  .footer.moby {
    margin-top: 60px !important;
  }
}
